{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>profile</title>
  <link rel="stylesheet" href="{% static 'css/style1.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/style2.css' %}" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
  <div class="sticky-mp-header">
    <img src="{% static 'image/logo.png' %}" style="height: 120px;width: 289px;">
    <nav class="mp-nuew-nav">
      <ul>
        <li>
          <a href="landing">Home</a>
        </li>
        <li>
          <a href="aboutus_new">About Us</a>
        </li>
        <li>
          <a href="signup">Register</a>
        </li>
        <li>
          <a href="features_new">Features</a>
        </li>
        <li>
          <a href="">Profile</a>
        </li>
        <li>
          <a href="maps">maps</a>
        </li>

      </ul>
    </nav>
  </div>
  <div class="sticky-mp-canvas-wrap">
  </div>
  <div class="sticky-mp-content">
      <h1 class="title">User Profile</h1>
    <div class="container">
      <div class="row cf">
        <div id="card1" class="card four col">
          <div class="image-wrapper"></div>
          <h3 class="name">
            </h3>
          <div class="options">
            <ul>
              <li>
                <span class="icon">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
                <!--{% if user.is_authenticated %}
                 {{ user.phone_number }}!
                {% endif %}--></li>
              <li>
                <span class="icon">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </span> 
              
              </li></li>
              <li>
                <span class="icon">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </span> 
                <!--{% if user.is_authenticated %}
                {{ user.car_rides }}!
                {% endif %}--></li></li>
              <li>
                <span class="icon">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </span> 
               <!--{% if user.is_authenticated %}
                {{ user.email }}!
                {% endif %}-->
              </li></li>
            </ul>
          </div>
        </div>

        <div id="card2" class="card four col">
          <div class="header"></div>
          <div class="wrapper">
            <div class="image-wrapper"></div>
            <h3 class="name">SUCCESSFUL</h3>
            <div class="social cf">
            </div>
            <div class="info">
              {% if user.is_authenticated %}
              Hi {{ user.username }}!
              <p><a href="{% url 'results' %}">Profile details</a></p>
              <p><a href="{% url 'logout' %}">logout</a></p>
              {% else %}
              <p>You are not logged in</p>
              <a href="{% url 'login' %}">login</a>
              {% endif %}
            </div>
          </div>
        </div>

        <div id="card3" class="card four col">
          <div class="header"></div>
          <div class="wrapper">
            <h2 class="name">CONTACT US</h2>
            <h2> MaindoWorks V.O.F., Amstelveen, The Netherlands</h2>
          </div>
          <div class="info cf">
            <div class="four col">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="mp-footer-container">
      <div class="footer-box">
        <p>Copyright &copy; MaindoWorks V.O.F., Amstelveen, The Netherlands</p>
      </div>
      <div class="mp-footer-box">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-behance"></i>
        <i class="fa fa-github"></i>
      </div>
    </div>
  </footer>
</body>

</html>